
@media only screen and (min-width: 900px) {
    #login {
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: calc(50% - 3%);
        aspect-ratio: 1.2;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 3%;
        border-radius: 20px;
        max-width: 300px;
    
    }
}

@media only screen and (max-width: 900px) {
    #login {
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: calc(100% - 3%);
        aspect-ratio: 1.2;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 3%;
        border-radius: 20px;
        max-width: 300px;
    
    }
}
    
h2{
    margin-bottom: .7rem;
}

input{
    border: none;
    height: 2rem;
    background: 
      linear-gradient(#000, #000) center bottom 1px /calc(100%) 2px no-repeat;
}



#login > div{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

button{
    width: 80%;
    height: 2rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(211, 198, 198);
    margin-top: auto;
}