/* HeroesComponent's private CSS styles */



.block {
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
}

.header {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #97B5B2;
  margin-bottom: 1%;
}

.header button{
  border: none;
  background-color: white;
}

#users{
  margin-left: 1rem;
}

#users li{
  margin-top: .2rem;
  margin-bottom: .2rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  display: flex;
  align-items: center;
}

#add-user{
  margin-right: 1rem;
  margin-left: .7rem;
  width: 30px;
  border-radius: 50%;
  aspect-ratio: 1;
}

.selected {
  background-color: green;
}

#time div{
  display: flex;
  margin-left: 1rem;
  align-items: center;
}

#time div{
  display: flex;
  margin-top: .2rem;
  margin-bottom: .2rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  align-items: center;
}



#time button{
  aspect-ratio: 1;
  width: 30px;
  border-radius: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.teams {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.teams li {
  position: relative;
  cursor: pointer;
}

.teams li:hover {
  left: .1em;
}

.teams a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.teams a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.teams a:active {
  background-color: #525252;
  color: #fafafa;
}

.teams .badge {
  display: inline-block;
  font-size: small;
  color: black;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.delete {
  position: absolute;
  left: 210px;
  top: 5px;
  background-color: white;
  color: #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
}

button.delete:hover {
  background-color: #525252;
  color: white;
}

.campo {
  color: blue;
}

/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  margin: 5px
}

nav a:hover {
  color: white;
  background-color: #42545C;
}

nav a.active {
  background-color: black;
}

#escolherData {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

